# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.packages
build/
pubspec.lock

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
